<%= form_with(model: train) do |form| %>
  <%= render ' shared/errors', object: train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.collection_select :route_id, Route.order(:name), :id, :name, { prompt: 'Select route'} %>
  </div>

  <div class="field">
    <%= form.label :carriages_sorting %>
    <span> ASC </span>
    <%= form.radio_button :carriage_sorting, true %>
    <span> DESC </span>
    <%= form.radio_button :carriage_sorting, false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
