<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route name:</strong>
  <%= @train.route ? @train.route.name : 'No route specified' %>
</p>

<p>
  <strong>Carriages:</strong>
  <% if @train.carriages.any? %>
    <% @train.carriages.each do |carriage| %>
      <%= link_to carriage.position, carriage_path(carriage) %>
    <% end %>
  <% else %>
    No carriages attached
  <% end %>
</p>

<% Carriage::TYPES.each do |ct| %>
  <% seats = ct.pluralize %>

  <% if @train.respond_to?(seats) && @train.send(seats).any? %>
    <p>
      <strong>Number of <%= ct.humanize %>s:</strong>
      <%= @train.send(seats).size %>
    </p>

    <% ct.camelize.constantize::SEAT_TYPES.each do |seat_type| %>
      <p>
        <strong> total <%= seat_type %></strong>
        <%= @train.send(seats).sum(seat_type) %>
      </p>
    <% end  %>
    <br>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
