<%= form_with(model: route) do |form| %>
  <%= render ' shared/errors', object: route %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :railway_stations  %>
    <%= form.collection_select(:railway_station_ids, RailwayStation.order(:title), :id, :title, { prompt: ('Select stations')}, {multiple: true}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


