<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Trains on the route:</strong>

  <% if @route.trains.any? %>
    <% @route.trains.each do |train| %>
      <%= train.number %>
    <% end %>
  <% else %>
    No trains on the route
  <% end %>
</p>

<p>
  <strong>List of route stations:</strong>
  <% if @route.railway_stations.any? %>
    <table>
      <thead>
        <tr>
          <td>name</td>
          <td>position</td>
        </tr>
      </thead>
      <tbody>
        <% @route.railway_stations.ordered_by_position.each do |railway_station| %>
          <tr>
            <td><%= railway_station.title %></td>
            <td>
              <%= render partial: 'railway_stations/position_form',
                         locals: {route: @route, railway_station: railway_station} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Route does not include stations
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
